@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 20px 0 20px;
}

.container1 .heading {
  width: 50%;
  padding-bottom: 50px;
}

.container1 .heading h3 {
  font-size: 3em;
  font-weight: bolder;
  padding-bottom: 10px;
  border-bottom: 3px solid #222;
}

.container1 .heading h3 span {
  /* font-size: 3em; */
  font-weight: 100;
  /* border-bottom: 3px solid #222;  */
}

.container1 .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container1 .box .dream1 {
  display: flex;
  flex-direction: column;
  width: 32.5%;
}
.container1 .box .dream2 {
  display: flex;
  flex-direction: column;
  width: 32.5%;
}
.container1 .box .dream3 {
  display: flex;
  flex-direction: column;
  width: 32.5%;
}

.dream img {
  transition: ease-in-out 0.3s;
}

.dream img:hover {
  transform: scale(1.25);
}

.container1 .box .dream1 img {
  /* display: flex;
    flex-direction: column; */
  width: 100%;
  padding-bottom: 15px;
  border-radius: 5px;
}
.container1 .box .dream2 img {
  /* display: flex;
    flex-direction: column; */
  width: 100%;
  padding-bottom: 15px;
  border-radius: 5px;
}
.container1 .box .dream3 img {
  /* display: flex;
    flex-direction: column; */
  width: 100%;
  padding-bottom: 15px;
  border-radius: 5px;
}

@media only screen and (max-width: 769px) {
  
  .container1 .box .dream {
    width: 100%;
  }
}

@media only screen and (max-width: 643px) {

   .container1 .box {
        flex-direction: column;
      }

    .container1 .box .dream1 {
        width: 100%;
    }
    
    .container1 .box .dream2 {
        width: 100%;
    } 

    .container1 .box .dream3 {
        width: 100%;
    }

    .container1 .heading {
        width: 100%;
        /* padding-bottom: 50px; */
      }
      
      .container1 .heading h3 {
        font-size: 1em;
        /* font-weight: bolder;
        padding-bottom: 10px;
        border-bottom: 3px solid #222; */
      }
    
  }
