.blog-images {
    border-radius: 25px;
    padding-bottom: 10px ;
}

@media (max-width: 576px) {
    .blog-images {
        width: 100vw;
        padding: 0 10px 10px 10px;
        border-radius: 25px;
    }

    .content {
        padding: 0 5px;
    }
}